<h1><%= title %></h1>
<p class="book__title">- <%= book.title %> [ <%= book.id %> ]</p>
<p class="book__description">- <%= book.description %></p>
<image class="book__fileBook" src="<%= book.fileBook %>"> </image>
